<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    
   
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
	  <a class="navbar-brand" href="#">Navbar</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/home/enkidona/html1/index.html">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/home/enkidona/html1/demo.html">Demo</a>
	      </li>
	      <li class="nav-item">
    	       <a class="nav-link" href="/home/enkidona/html1/new.html">Tin tức</a>
    	   </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link" href="#" id="navbarDropdown" >
	          Dropdown
	        </a>
	        <div class="dropdown-content">
	          <a class="dropdown-item" href="#">Raspberry po</a>
	          <a class="dropdown-item" href="/home/enkidona/html1/jetson.html">jetson</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/cart/cart_detail/"> <img src="/home/enkidona/html1/main_image/card.png" width="32"/></a>
		  </li>
		  <li class="cart">
				
					<font color="black">Giỏ hàng đang trống</font>
		</li>>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
  </div>
</nav>
        <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">ABC </h1>
        <p class="lead">All things you need are here! </p>
        <a href="#" class="btn btn-primary btn-lg">Contact!</a>
      </header>
    </div>

    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    </div>
    <!-- Footer -->
     <footer class="py-5 bg-dark" style="position: fixed; bottom: 0; width: 100%;">
    	<div class="container">
    	  <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    	</div>
    	<!-- /.container -->
      </footer>
    <!-- end list product -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../jquery-3.3.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrap.min.js"></script>
  </body>
</html>
